
    <ion-content>
    </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        <ion-tab title="Home" icon-on="icon ion-person" icon-off="icon ion-person">
            <br>
            <br>
            <br>
            <div id="employeeDetail">
                <img src="img/ionic.png" style="with:200px;height:200px">
            </div>
        </ion-tab>
        <ion-tab title="About" icon-on="icon ion-calendar" icon-off="icon ion-calendar">
            <!-- Tab 2 content -->
        </ion-tab>
        <ion-tab title="Settings" icon-on="icon ion-document" icon-off="icon ion-document">
            <!-- Tab 3 content -->
        </ion-tab>
    </ion-tabs>
