<ion-content>
    <div class="row row-bottom ">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-right"><a href="#"><i class="ion-android-cancel iconsExit"></i></a></div>
    </div>
    <br>
    <div class="text-center">
        <p style="font-size: 250%;">09.00 PM</p>
        <p style="font-size: 100%;">19 January 2016</p>
        <a href="#/views/employeeDetail">
            <img src="img/ionic.png" style="with:200px;height:200px">
        </a>
        <br>
        <br>
        <br>
        <br>
        <p style="font-size: 150%;">Nuttakrittra P. </p>
        <br>
        <button class="button button-block positive">
            Check In
        </button>
        <!-- <button class="button button-block positive">
                Check Out
            </button> -->
        <br>
        <br>
        <br>
        <br>
        <div class="row row-bottom ">
            <div class="col"><a href="#"><i class="ion-ios-flower icons"></i></a></div>
            <div class="col"><a href="#"><i class="ion-help-circled icons"></i></a></div>
            <div class="col"><i class="ion-more icons"></i></div>
        </div>
    </div>
</ion-content>
