<ion-side-menus>
    <ion-side-menu-content>
        <ion-content>
            <div class="row row-bottom ">
                <div class="col text-left">
                    <button menu-toggle="left" class=" button-icon icon ion-navicon-round iconsMenu"></button>
                </div>
                <div class="col"></div>
                <div class="col text-right">
                    <button class="button-icon ion-android-cancel iconsExit" ng-click="exitApp()"></button>
                </div>
            </div>
            <div class="text-center">
                <br>
                <p style="font-size: 300%; color:#FF9900"><b><span my-current-time="format"></span></b></p>
                <br>
                <p style="font-size: 150%; color:#555555"><b><span my-current-time2="format2"></span></b></p>
                <a href="#/views/employeeDetail">
                    <br>
                    <br>
                    <a href="#/views/employeeDetail">
                        <img src="img/PicFinger.png" style="with:300px;height:300px" class="imgPicFinger">
                    </a>
            </div>
        </ion-content>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left" class="menuBackground">
        <ion-header-bar class="bar-stable menuBackground ">
            <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Menu</h1>
        </ion-header-bar>
        <ion-content  >
            <ion-list >
                <ion-item menu-close href="#/views/leave" class="menuList">
                    Leave
                </ion-item>
                <ion-item menu-close href="#" class="menuList">
                    Adjust
                </ion-item>
                <ion-item menu-close href="#" class="menuList">
                    More
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
