<ion-content>
    <div class="row row-bottom ">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-right"><a href="#"><i class="ion-android-cancel iconsExit"></i></a></div>
    </div>
    <br>
    <div class="text-center">
        <p style="font-size: 250%; color:#FF9900"><b>09.00 PM</b></p>
        <p style="font-size: 100%; color:#FF9900">19 January 2016</p>
        <a href="#/views/employeeDetail">
            <div>
                <img src="img/simson.png" style="with:200px;height:200px">
            </div>
        </a>
        <p style="font-size: 150%;">Nuttakrittra P. </p>
        <br>
        <div class="padding">
            <button class="button button-block positive">Check In</button>
            <!-- <button class="button button-block positive">Check Out</button> -->
        </div>
        <br>
        <!-- <p style="font-size: 150%;">Check In : 09:00 PM</p> -->
        <br>
        <br>
        <br>
        <div class="row row-bottom ">
            <div class="col"><a href="#/views/leave"><i class="ion-ios-flower iconsLeave"></i></a></div>
            <div class="col"><a href="#"><i class="ion-help-circled iconsAdj"></i></a></div>
            <div class="col"><i class="ion-more icons iconsMore"></i></div>
        </div>
    </div>
</ion-content>
