<ion-content>
    <div class="row row-bottom ">
        <div class="col col-33" style="text-align:left;"><a href="#/views/leave"><i class="ion-ios-arrow-back" style="font-size: 40px; color: #ff9900;" ></i></a></div>
        <div class="col col-33" style="text-align:center;">
            <p style="font-size: 150%; color: #ff9900;">Leave List</p>
        </div>
        <div class="col col-33" style="text-align:right;"></div>
    </div>
    </br>
    </br>
    <div class="list">
        <a href="#" class="item item-icon-left" style="background-color: #EEEEEE;">
            <i class="icon ion-ios-calendar-outline"  style="color: #ff9900;"></i>
            <h2 style="font-weight: bold;">Sick Leave &nbsp;&nbsp; 15 December 2015</h2>
            <p>ไปพบแพทย์เพื่อ Follow up</p>
        </a>
        <a href="#" class="item item-icon-left" style="background-color: #EEEEEE;">
            <i class="icon ion-ios-calendar-outline"  style="color: #ff9900;"></i>
            <h2 style="font-weight: bold;">Personal Leave &nbsp;&nbsp; 24 December 2015</h2>
            <p>ไปทำใบขับขี่</p>
        </a>
    </div>
</ion-content>
