<ion-content>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
        <img src="img/Logo.png" style="with:200px;height:200px">
        <br>
        <br>
        <div class="list list-inset">
            <label class="item item-input  login-focus">
                <input type="text" placeholder="E-mail">
            </label>
            <label class="item item-input  login-focus">
                <input type="text" placeholder="Password">
            </label>
        </div>
        <br>
        <button class="button login" ng-click="logIn()">LogIn</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-right">
        <a href="#/views/register"><p class="fontz-color">Register</p></a>
    </div>
</ion-content>
