<ion-content>
    <div class="row row-bottom ">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-right"><a href="#/views/logIn"><i class="ion-android-cancel iconsExit"></i></a></div>
    </div>
    <br>
    <div class="text-center">
        <img src="img/Logo.png" style="with:200px;height:200px">
    </div>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80" style="font-size: 150%; color:#FF9900">Register
            <div class="list list-inset">
                <label class="item item-input  login-focus">
                    <input type="text" placeholder="E-mail">
                </label>
                <label class="item item-input  login-focus">
                    <input type="text" placeholder="Password">
                </label>
                <label class="item item-input  login-focus">
                    <input type="text" placeholder="Confirm Password">
                </label>
            </div>
        </div>
        <div class="col col-10"></div>
    </div>
    <div class="text-center">
        <button class="button login">Submit</button>
    </div>
</ion-content>
