<ion-view>
    <ion-content scroll="false">
        <div class="row">
            <div class="col">
                <a href="#/views/home"><i class="ion-ios-home" style="color: #FF9900; font-size: 40px;"></i></a>
            </div>
        </div>
        <div>
            <div id="map"></div>
            <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                <!-- <a href="#" style="text-decoration:none;" ng-click="openInfoWindow($event, marker)" >{{marker.title}}</a> -->
            </div>
        </div>
    </ion-content>
</ion-view>
