/* Empty. Add your own CSS if you like */

.tabs-assertive {
    background-color: #FF9900;
}

.ion-person {
    color: white;
}

.ion-calendar {
    color: white;
}

.ion-document {
    color: white;
}

.bar {
    /* border-color: #b2b2b2; */
    /* background-color: #f8f8f8; */
    /* background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%); */
    color: #444;
}

.login {
    width: 30%;
    color: white;
    background-color: #FF9900;
}

.login-focus {
    border: 1px solid #FF9900;
}

.fontz-color {
    color: #FF9900;
}

.bar.bar-balanced {
    background-color: white;
    color: #FF9900;
    margin-left: 80%;
    background-color: #EEEEEE;
}

.pane,
.view {
    background-color: #EEEEEE;
}

.list {
    background-color: #EEEEEE;
}

.positive {
    background-color: #FF9900;
    color: white;
}

.iconsMore {
    font-size: 70px;
    color: #FF99CC;
}

.iconsLeave {
    font-size: 70px;
    color: #00CCFF;
}

.iconsAdj {
    font-size: 70px;
    color: #FFFF00;
}

.iconsExit {
    font-size: 40px;
    color: #EE0000;
}

.bar .title {
    display: none;
}

.tabs-assertive > .tabs,
.tabs.tabs-assertive {
    border-color: #FF9900;
    background-color: #FF9900;
    background-image: linear-gradient(0deg, #FF9900, #FF9900 50%, transparent 50%);
    color: #FF9900;
}

.ebuCard {
    background-color: #DDDDDD;
}

input[type="radio"] {
    width: 2em;
    height: 2em;
}

.radio-label {
    margin-top: 3px;
    margin-left: 15px;
    position: fixed;
}


/*.radio-label : checked{
    background-color:#bbb;
    
}*/

img {
    -webkit-user-drag: none;
    border-radius: 50%;
}

.item .badgeleave {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 40px;
    right: 10px;
}

.badgeleave {
    background-color: transparent;
    color: #AAAAAA;
    z-index: 1;
    display: inline-block;
    padding: 3px 6px;
    min-width: 25px;
    border-radius: 10px;
    vertical-align: baseline;
    white-space: nowrap;
    line-height: 16px;
}

.badgeleave.badge-adjust {
    background-color: #00CC00;
    color: #fff;
}

.badgeleave.badge-wait {
    background-color: #33CCFF;
    color: #fff;
}

.badgeleave.badge-reject {
    background-color: #ef473a;
    color: #fff;
}

.badgeleave.badge-font {
    text-align: center;
    font-weight: bold;
    font-color: red;
}


#fontStatus{
    color: white;
    font-size: 12px;
    margin: auto;
    font-weight: bold;
}
